.custom-button{
    height : 3rem;
    width : 5rem;
    padding : 1rem;
    font-size: 1rem;
    color : wheat;
    background: #3500D3;
    border: none;
    outline : none;

    &.custom-button__middle{
        margin-left: calc(50% - 2.5rem);
        margin-top : 6rem;
        margin-bottom: 1rem;
    }

    &.custom-button__option-selector{
        width: 50%;
        height: 3rem;
        font-size: 1rem;
        background: white;
        color: black;
        &.active{
            background: #3500D3;
            color : white;
        }
    }
}