.budget-overview{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .budget-overview__fields{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin : 1rem 0;
        height: 3rem;
        width: 30rem;
        padding: 1.5rem;
        background: navy;

        .budget-overview__field-property{
            font-size: 1.5rem;
            font-weight: 100;
        }

        .budget-overview__field-value{
            font-size: 1.5rem;
            color : white;
        }
    }
    @media (max-width: 526px) {
        .budget-overview__fields {
            width: 90vw;
        }
      }

    .field-income{
        width: 20rem;
        background: lightblue;
    }

    .field-expense{
        width: 20rem;
        background: rgb(248, 56, 56);
    }
}