.add__container{
    display: flex;
    justify-content: center;
    align-items: center;

    @mixin form-styles{
        height: 2.4rem;
        background: white;
        border: 1px solid black;
    }
 

    .add__type{
        width: 3rem;
        font-size: 1.5rem;
        @include form-styles;
    }

    .add__description{
        width: 20rem;
        padding-left: 1rem;
        @include form-styles;

    }

    .add__value{
        width: 5rem;
        padding-left: 1rem;
        @include form-styles;


    }

    .add__btn{
        width: 2rem;
        color : darkblue;
        font-size: 1.5rem;
        @include form-styles;

    }
}