.add__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 1rem;

    @mixin form-styles{
        height: 2.6rem;
        background: white;
        border: 1px solid black;
        margin-left: 0.3rem;
    }
 

    .add__type{
        width: 3rem;
        font-size: 1.5rem;
        @include form-styles;

        &:hover,
        &:active{
            border-color : blue;
            outline : blue;
        }
    }

    .add__description{
        width: 20rem;
        padding-left: 1rem;
        @include form-styles;

    }

    .add__value{
        width: 5rem;
        padding-left: 1rem;
        border-radius: 10% 10%;
        @include form-styles;


    }

    .add__btn{
        width: 2.6rem;
        color : darkblue;
        font-size: 1.5rem;
        @include form-styles;
        border-radius: 50% 50%;

    }


    @media (max-width: 526px) {
        .add__description{
            width: 15rem;

        }
    }
}

@media (max-width: 526px) {
    .add__container{
        width: 98vw;
        

    }
  }