.list-item{
    height: 3.5rem;
    width: 30rem;
    background: wheat;
    margin-bottom: 0.4rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;


        .list-item__details{
            width : 28rem;
            display: flex;
            align-items: center;
            position: relative;

            .list-item__details-description{
                font-size : 1.2rem;
            }
            .list-item__details-value-inc{
                font-size: 1.2rem;
                position: absolute;
                right: 0px;
                color : blue;
                transition: 1s all;
            }
            .list-item__details-value-exp{
                font-size: 1.2rem;
                position: absolute;
                right: 0px;
                color : red;
                transition: 1s all;
            }
        }


        .list-item__delete{
            font-size: 1.5rem;
            color : red;
            background: none;
            position: absolute;
            right: -35px;
            border : 1px solid red;
            border-radius: 50% 50%;
            transition: 1s all;
        }
        &:hover{
            .list-item__delete{
                right : 5px;
            }
            .list-item__details-value-inc{
                right: 20px;
            }
            .list-item__details-value-exp{
                right: 20px;
            }
        }



}
@media (max-width: 1016px) {
    .list-item {
        width: 20rem;

        &:hover{
            .list-item__delete{
                right : 5px;
            }
            .list-item__details-value-inc{
                right: 35px;
            }
            .list-item__details-value-exp{
                right: 35px;
            }
        }
    }
  }