.list{
    margin : 2rem;

    .list-items{
        display : flex;
        flex-direction: column;
        justify-content: center;

        .list-item{
            height: 3rem;
            width: 20rem;
            display: flex;
            align-items: center;
            background: wheat;
            margin-bottom: 0.4rem;
        }
    }
}