.month-picker{
    display: flex;
    justify-content: center;
    margin-top : 1rem;
    
    .month-picker__el{
        height: 3rem;
        width: 10rem;
        background: #3500D3;
        color: white;
        text-align: center;
        border: none;
    }
}
