.list-overview{
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .income-header{
        color : blue;
    }

    .expenses-header{
        color : red;
    }

    .list-items{
        display : flex;
        flex-direction: column;
        justify-content: center;
    }


}
@media (max-width: 720px) {
    .list-overview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }